body {
  background-color: black;
  color: white;
  font-family: arial;
}

.box {
  background-image: url("southpark.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: none;
}

.header {
  color: red;
  font-size: 40px;
}
